<p>Pendiente de evaluaci칩n de efectividad, para los empleados:</p>
<ul>
    {{#each empleados}}
    <li>{{this}}</li>
    {{/each}}
</ul>


<p>Para m치s informaci칩n revisar vista Capacitaci칩n y evaluaciones &gt; Cursos &gt; Efectividad.</p>
<a href="http://192.168.51.39:{{port}}">Sistema OITS</a>