<p>El empleado: {{liderName}}, tiene</p> 
<p>{{totalIncidencias}} Incidencias pendientes por autorizar.</p>
<p>{{totalTimeCorrection}} Correciones de tiempo por revisar.</p>

<p>Para más información revisar vista de autorización de incidencias.</p>
<a href="http://192.168.51.39:{{port}}">Sistema OITS</a>
