<p>Incidencias pendientes por autorizar.</p>
<ul>
    {{#each empleados}}
    <li>{{this.name}}</li>
    <li>{{this.incidencia}}</li>
    <li>{{this.fecha}}</li>
    {{/each}}
</ul>

<p>Para más información revisar vista de autorización de incidencias.</p>
<a href="http://192.168.51.39:{{port}}">Sistema OITS</a>