<p>Incidencias pendientes por autorizar.</p>
<ul>
    {{#each empleados}}
    <li>{{this.name}}</li>
    <li>{{#each this.incidencia}}
        <p>{{this.name}}: {{this.fecha}}</p>
    </li>
    {{/each}}
</ul>

<p>Para más información revisar vista de autorización de incidencias.</p>
<a href="http://192.168.51.39:{{port}}">Sistema OITS</a>