<p>Usted tiene:</p> 
<p>{{totalIncidencias}} Incidencias pendientes por autorizar.</p>
<p>{{totalTimeCorrection}} Incidencias pendientes por autorizar.</p>

<p>Para más información revisar vista de autorización de incidencias.</p>
<a href="http://192.168.51.39:{{port}}">Sistema OITS</a>
